<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
</head>
 
<body>
<div ng-controller="HomeCtrl" layout="column" layout-padding ng-cloak>
  <br/>
  <md-content class="autoScroll">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Name</label>
      <md-icon md-font-set="material-icons">person</md-icon> 
      <input ng-model="user.name" type="text">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <md-icon md-font-set="material-icons">phone</md-icon> 
      <input ng-model="user.phone" type="text" placeholder="Phone Number">
    </md-input-container>
    <md-input-container class="md-block">
      <!-- Use floating placeholder instead of label -->
      <md-icon md-font-set="material-icons" class="email">email</md-icon> 
      <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <md-icon md-font-set="material-icons">place</md-icon> 
      <input ng-model="user.address" type="text" placeholder="Address" >
    </md-input-container>
    <md-input-container class="md-icon-float md-icon-right md-block">
      <label>Donation Amount</label>
      <md-icon md-font-set="material-icons">card_giftcard</md-icon> 
      <input ng-model="user.donation" type="number" step="0.01">
      <md-icon md-font-set="material-icons">monetization_on</md-icon> 
    </md-input-container>
  </md-content>
</div>
   
   
 
</body>

</html>