          <ul class="unstyled">
            <li ng-repeat="pick in ctrl.songPicks.picks">
              <input type="checkbox" ng-model="pick.played">
              <span>{{pick.text}}</span>
            </li>
          </ul>
          
          
          ({{ctrl.songPicks.score(myPicks)}}/{{myPicks.length}})


          <div flex = "30"></div>

           md-theme="{{'dark-purple'}}"

           24hrs = 86400000

                           Next Show:
              <br>{{nextShow.date_text}}
              <br>@ {{nextShow.venue}}</div>