
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
 
    <title>5 for 5 Setlist</title>
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


</head>
<body>
    <div ng-controller="statsCtrl as ctrl" data-ng-init="init()" ng-cloak="">
    <div>
    <md-content layout-padding>
      <div class = "card1">
        <div layout="column">
          <md-card layout-padding> 
        <md-input-container>
            <label>Shows</label>
              <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                <md-option ng-repeat="show in played" ng-value="{{show.$id}}">
                 {{show.$id}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
        <md-card-content class = "card2">
            <div layout = row>
                <div flex = 33>
                    Picks Total: <b>{{songs.sum.value}}</b>
                </div>
                <div flex = 33>
                    Picks Unique: <b>{{songs.length}}</b>
                </div>
                <div flex = 33>
                    Games: <b>{{songs.games}}</b>
                </div>                
            </div>              
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="songItem in songs">
            <div class="md-list-item-text">
                <p>{{songItem.key}}</p>
                <span class="md-secondary" > Picked: {{songItem.value}} </span>
            </div>
        <md-divider md-inset></md-divider>
        </md-list-item>
        </md-list>
        </md-card-content>
    </md-content>

    </md-card>
</div></div>
</body>
</html>
