
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
 
    <title>5 for 5 Setlist</title>
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


</head>
<body>
    <div ng-controller="setlistCtrl as ctrl" data-ng-init="init()" ng-cloak="">
    <div>
    <md-content layout-padding>
      <div class = "card1">
        <div layout="column">
          <md-card layout-padding> 
        <md-input-container>
            <label>Shows</label>
              <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                <md-option ng-repeat="show in played" ng-value="{{show.$id}}">
                 {{show.$id}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
        <div layout = "row">
        <div flex = "65">
        <input type="text" ng-model="songAdd" placeholder="Add new song" required ng-minlength="3"
               ng-keyup="($event.keyCode == 13 && todoName.length > 2) ? addSong(songAdd) : return"/> 
        </div>
        <div flex = "35">     
        <md-button class="md-raised md-accent md-hue-2" type="submit" ng-click="addSong(songAdd)"><i class="material-icons">music_note</i> Add Song</md-button>
        </div></div>
        </md-input-container>
        <md-card-content class = "card2">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="songItem in songs">
            <div class="md-list-item-text">
                <md-checkbox class="md-secondary" ng-disabled="true" ng-model="songItem.added"></md-checkbox>  
                <p>{{songItem.$id}}</p>
                <md-checkbox class="md-secondary" ng-model="songItem.addIt" ng-click="doAction(songItem.$id, songItem.addIt)"></md-checkbox>  
            </div>
        <md-divider md-inset></md-divider>
        </md-list-item>
        </md-list>
        </md-card-content>
    </md-content>

    </md-card>
</div></div>
</body>
</html>
