
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    
</head>
 
<body>
<div ng-controller="newGameCtrl as ctrl" data-ng-init="init()" ng-cloak="" class ="newgameView">
  <md-content>
    <md-toolbar>
    <div class="md-toolbar-tools md-hue-2" layout-align="space-between center">
      <div>
      </div>
      <div>
         <span class="md-title">Phish | 5 for 5</span>
      </div>
      <div>
      </div>
   </div>
    </md-toolbar>
      <div class = "card1">

        <div layout="column">
        <div class = "primaryCard">
          <md-card> 
            <md-card-header class="md-hue-1">
            </md-card-header>
              <img ng-src="{{imagePath}}" class="md-card-image" alt="Card Header">
              
            <md-card-content>
                <div layout = "column" layout-align ="center center">
                    <div class = "newgame">
                <md-button class="md-raised md-accent md-hue-2" type="submit" ng-click="ctrl.newGame()"><i class="material-icons">open_in_new</i> Launch New Game</md-button>
                </div> 
                <div>
                  <span class = "md-title">-OR-</span>
                </div>                        
                <div class = "newgame">
                   <md-button class="md-raised md-accent md-hue-2" type="submit" ng-click="ctrl.gotoGame(ctrl.userGame)"><i class="material-icons">games</i> Join Games</md-button>
                  <md-input-container>
                  <label>Your Game</label>
                   <md-select ng-model="ctrl.userGame">
                    <md-option ng-repeat="game in currentGames" value="{{game.game}}">
                    Game {{game.num}}
                  </md-option>
                 </md-select>
                </md-input-container>                           
                </div>
                </div>
            </md-card-content>
          </md-card>
         <div>
      <md-card>
        <md-card-header md-colors="::{backgroundColor: 'default-accent-500'}">
         <md-card-header-text>
            <span class="md-title"></span>
            About 5 for 5
         </md-card-header-text>
        </md-card-header>
            <md-card-content>
              <span class = "md-title">Game: </span> Pick 5 songs you think Phish will play tonight. Songs highlighted in green have been played!
              <hr class="style3">
              <span class = "md-title">Directions:</span> Start a new game and share the link with your friends. Games can be created 24 hrs before the show starts.
              <hr class="style3">
              <span class = "md-title">Win:</span> Try to go 5 for 5! 
            </md-card-content>
        <md-card-footer>
           <hr class="style3">
          <span class = "md-caption">Disclaimer: Not affiliated with Phish or their properties. No personal info is being collected. No revenue is being generated by the content of this site.</span> 
        </md-card-footer>
      </md-card>
        </div>
        </div>
      </div>
    </md-content>
    </div>
</body>
</html>