<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    
</head>
 
<body>
<div ng-controller="HomeCtrl as ctrl" data-ng-init="init()" ng-cloak="">
  <md-content>
    <md-toolbar>
    <div class="md-toolbar-tools md-hue-2" layout-align="space-between center">
      <div>
        <md-button class="md-icon-button" type="submit" value="add" ng-click="ctrl.updatePlayed(ctrl.selectedItem.song_name_display)">
        <md-icon md-font-icon="material-icons">update</md-icon>
        </md-button>
      </div>
      <div>
         <span class="md-title"><a href="#/newGame">Phish Show | 5 for 5<img ng-src="{{imageBetaPath}}" height="30" class="imagebeta"></a></span>
        
      </div>
      <div>
       <md-button class="md-icon-button" clipboard supported="copySupported" text="copyTextToCopy"" on-copied="copySuccess()" on-error="copyFail(err)">
       <md-icon md-font-icon="material-icons">content_copy</md-icon>
       </md-button>
      </div>
   </div>
    </md-toolbar>
      <div class = "card1">

        <div layout="column">
        <div class = "primaryCard">
          <md-card> 
              <div class = "image">
              <img ng-src="{{imagePath}}" class="md-card-image" alt="Card Header">
              <div class="overlay">
              Picks for:
              <br>{{showDetails.date_text}}
              <br>@ {{showDetails.venue}}</div>
              <div md-colors="::{backgroundColor: 'default-primary-200'}">&nbsp</div>
            </div>
            <md-card-content class = "card2">

           <form ng-submit="$event.preventDefault()">
           <div layout="row" layout-align="center end">
             <div flex="85"><h3>What songs will be played tonight?</h3></div>
             <div><md-switch class="md-primary" ng-model="options.hideOld" aria-label="hide songs"><span class="md-caption">rare <md-icon md-svg-icon="img/ic_music_note_black_18px.svg"></md-icon></span></md-switch></div>
           </div>
            
            <div layout="row" layout-align="center end">
            <div flex="85">
            <md-autocomplete
              ng-disabled="ctrl.isDisabled"
              md-no-cache="ctrl.noCache"
              md-selected-item="ctrl.selectedItem"
              md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
              md-search-text="ctrl.searchText"
              md-selected-item-change="ctrl.selectedItemChange(item)"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.song_name_display"
              md-min-length="1"
              placeholder="Phish Songs"
              md-autoselect = "true"
              md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <md-icon md-svg-icon="img/ic_music_note_black_18px.svg"></md-icon>
            <span> {{item.song_name_display}} </span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>{{item.gap_shows}}</strong> show gap
            </span>
            <span class="item-metastat">
              <strong>{{item.gap_days}}</strong> day gap
            </span>
          </span>
        </md-item-template>
        <md-not-found>
         <span class ="item-metadata"> "{{ctrl.searchText}}" was not found. Turn on rare songs for more choices!</span>
        </md-not-found>
      </md-autocomplete>
          </div>
          <div>
          <md-button class="md-raised md-accent md-hue-2" type="submit" value="add" ng-click="ctrl.songPicks.addPick(ctrl.selectedItem.song_name_display)">Add to List</md-button>
          </div>
          </div>
          <br/>
      <!--<md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
      <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
      <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>
      <p>By default, <code>md-autocomplete</code> will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
      -->
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
    <div>
      <md-card >
        <md-card-header md-colors="::{backgroundColor: 'default-primary-800'}">
         <md-card-header-text>
            <span class="md-title">
            <div layout = 'row' layout-align="space-between end">
            <div class="form-style-8" >
            <input class = "my-input" type = "text" enter-submit ng-model="playerFire.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" placeholder="<player name>"/>
            </div>
            <div>
              ({{ctrl.songPicks.score(myPicks)}}/{{myPicks.length}})
             </div>
            </div>
            </span>   
        </md-card-header-text>
        </md-card-header>  
        <md-card-content class ="md-caption card3">
          <md-chips md-max-chips="5" ng-model="myPicks" readonly="ctrl.readonly" md-on-remove="ctrl.removeChipFire($chip, $index)">
           <input disabled/>
            <md-chip-template ng-class="{'played': $chip.played}" my-chip>
            <em>{{$chip.song}}</em>
            </md-chip-template>

          </md-chips>
        </md-card-content>
      </md-card>
      <md-card ng-repeat="item in otherPicks" ng-show="item.picks.length != 0">
        <md-card-header md-colors="::{backgroundColor: 'default-primary-500'}">
          <md-card-header-text>
            <span class="md-title">
            <div layout = 'row' layout-align="space-between end">
              <div>{{item.name}}</div>
              <div> ({{ctrl.songPicks.score(item.picks)}}/{{item.picks.length}})</div>
             </div>
             </span>
        </md-card-header-text>
        </md-card-header>  
        <md-card-content class ="md-caption">
          <md-chips ng-model="item.picks" readonly=true>
           <input disabled />
            <md-chip-template ng-class="{'played': $chip.played}" my-chip>
            <em>{{$chip.song}}</em>
            </md-chip-template>
          </md-chips>
        </md-card-content>
      </md-card>
     </div>
    </div> 
  </md-content>
</div>

   
</body>
</html>