<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc4/angular-material.css">
   
    
   
    
</head>
 
<body>
<div ng-controller="HomeCtrl as ctrl" ng-cloak>
    <md-toolbar>
    <div class="md-toolbar-tools md-hue-2" md-scroll-shrink flex layout-align="center center">
      <h3>Phish | 5 for 5</h3>
    </div>
    </md-toolbar>
      <div class = "card1" flex>
      <md-content class="md-padding">
        <section layout="vertical" layout-align="center center">
        <div layout="column" flex>
        <div>
          <md-card> 
            <md-card-header class="md-hue-1">
            </md-card-header>
              <img ng-src="{{imagePath}}" class="md-card-image" alt="Card Header">
            <md-card-content>

           <form ng-submit="$event.preventDefault()">
            <p align ="center" class="md-title title1" >What songs will be played tonight?</p>
            <div layout="row" layout-align="center end" flex>
            <div flex="80">
            <md-autocomplete 
              ng-disabled="ctrl.isDisabled"
              md-no-cache="ctrl.noCache"
              md-selected-item="ctrl.selectedItem"
              md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
              md-search-text="ctrl.searchText"
              md-selected-item-change="ctrl.selectedItemChange(item)"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.display"
              md-min-length="0"
              placeholder="Phish Songs">
            <md-item-template>
              <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
              No states matching "{{ctrl.searchText}}" were found.
              <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
            </md-not-found>
          </md-autocomplete>
          </div>
          <div>
          <md-button class="md-raised md-primary button-height" type="submit" value="add" ng-click="ctrl.songPicks.addPick(ctrl.selectedItem.display)">Add to List</md-button>
          </div>
          </div>
          <br/>
      <!--<md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
      <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
      <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>
      <p>By default, <code>md-autocomplete</code> will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
      -->
          </form>
        </md-card-content>
      </md-card>
    </div>
    <div>
      <md-card>
        <md-card-header md-colors="::{backgroundColor: 'default-accent-500'}">
        My Picks ({{ctrl.songPicks.score(ctrl.songPicks.picks)}}/ {{ctrl.songPicks.picks.length}})
        </md-card-header>  
        <md-card-content class ="md-caption">
          <md-chips ng-model="songsFire" readonly="ctrl.readonly" md-on-remove="ctrl.removeChipFire($chip, $index)">
           <input disabled />
            <md-chip-template ng-class="{'played': $chip.played}" my-chip>
            <em>{{$chip.song}}</em>
            </md-chip-template>
          </md-chips>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header md-colors="::{backgroundColor: 'default-accent-500'}">
        Player 2 Picks ({{ctrl.songPicks.score(ctrl.songPicks.picks2)}}/{{ctrl.songPicks.picks2.length}})
        </md-card-header>  
        <md-card-content class ="md-caption">
          <md-chips ng-model="ctrl.songPicks.picks2" readonly="ctrl.readonly">
           <input disabled />
            <md-chip-template ng-class="{'played': $chip.played}" my-chip>
            <em>{{$chip.text}}</em>
            </md-chip-template>
          </md-chips>
        </md-card-content>
      </md-card>
     </div>
   </section>
  </md-content>
</div> 
</div>
</div>
   
</body>
</html>