
.card1 {
  margin: auto;
  max-width: 680px;
}

.md-toolbar-tools {
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  
}
.md-scroll-mask { position: initial;}

md-chip.ng-scope._played {
  background: #1DE9B6!important;
  color: white !important;
}
.title1 {
  margin: 8px;
}

md-select {
min-width:100px;
}

.style3 {
	border-top: 1px dashed #8c8b8b;
}
md-button {
  text-align: center;
}
.material-icons {
  margin: 0 auto;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #1DE9B6;
    border: 0px;
}
md-input-container {
  padding: 0px;
  border: 0px;
}

.form-style-8{
    width: auto;
    padding: 0px;
    background: transparent;
    
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 0px rgba(0, 0, 0, 0.22);

}

.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    color: #FFFFFF;
    width: 100%;
    border: none;
    background: transparent;
    margin-bottom: 0px;
    font: 24px;
    font-weight: 500;
    letter-spacing: 0.005em;
}
.form-style-8 textarea:focus, 
.form-style-8 input[type=text]:focus,
.form-style-8 select:focus
{
    border-bottom:1px solid #1DE9B6;
}
.my-input {
  transition:0.5s linear all;
  border: white;
}

.my-input.ng-invalid {
  background: red;
  color:white;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: normal; }
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocomplete-custom-template .item-title md-icon {
  height: 16px;
  width: 16px; }

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */

}
h3 {
  text-align: center;
}

::-webkit-scrollbar { 
display: none; 
}

._md-center {
       left: 50%;
       transform: translate3d(-50%, 0, 0);
}