

.card1 {
  margin: auto;
  max-width: 680px;
  
}

.md-toolbar-tools {
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  
}

.md-padding {
 padding: 5px;
}
md-chip.ng-scope._played {
  background: #2196F3!important;
  color: white !important;
}
.title1 {
  margin: 8px;
}